<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Connexion</title>
</head>
<!-- Navbar -->
<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>


<body>
		<div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
	
    <div class="container connexion">
        <form th:action="@{/connexion}" method="post">
		
			
            <div class="mb-3">

                <label class="form-label">Identifiant :</label>
                <input type="text" class="form-control" name="username">

            </div>
            
            <div class="mb-3">
                <label class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" name="password">
            </div>
            
            <button type="submit" class="btn btn-primary" value="Sign In" >Connexion</button>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="checkbox" value="Sign In">
                <label class="form-check-label" for="checkbox">Se souvenir de moi </label>
            </div>
            <label for=""><a href="#">Mot de passe oublié</a></label>
        
        
        </form>
        <button><a th:href="@{/creerProfil}">Créer un compte</a></button>
    </div>
    
</body>
</html>