<!DOCTYPE html>
<html lang="fr">

<head>
  	<th:block  th:include="~{fragment/fragment-head :: head}"></th:block>

    <title>Détail vente</title>
</head>
<!-- Navbar -->
<div th:replace="~{fragment/fragment-enteteConnecte :: frag-enteteConnecte}"></div>

<body>
    <h1>Détail vente</h1>
    <main>
       
        <div class="container formVente">
            <!-- rendre pareil que enchere dispo dans encheres mais sans le border-->
            <!-- rendre les bords des input hidden-->
            <img src="/360_F_59967553_9g2bvhTZf18zCmEVWcKigEoevGzFqXzq.jpeg" alt="">

            
            <div>
                <form action="" method="post" >
                    <h2>Titre vente</h2>
                    <div  >
                        <div>
                            <label for="">Description : </label>
                            <input type="text" name="" id="" readonly>
                        </div>
                        
                        <div>
                            <label for="">Catégorie : </label>
                            <input type="text" name="" id="" readonly>
                        </div>
                        <div>
                            <label for="">Meilleure offre : </label>
                            <input type="text" name="" id="" readonly>
                        </div>
                        <div>
                            <label for="">Mise à prix : </label>
                            <input type="text" name="" id="" readonly>
                        </div>
                        <div>
                            <label for="">Fin de l'enchère : </label>
                            <input type="text" name="" id="" readonly>
                        </div>
                        <div>
                            <label for="">Retrait : </label >
                            <input type="text" name="" id="" readonly>
                        </div>
                        <div>
                            <label for="">Vendeur : </label>
                            <input type="text" name="" id="" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <label for="">Ma proposition : </label>
                        <input type="number" name="" id="" value="1" style="border: solid black; width: 4vw; margin: 3%;">
                        <button type="submit">Enchérir</button>
                        <!-- regler le soucis de placement-->
                    </div>
                </form>
            </div>

        </div>
    </main>
</body>

</html>