<!DOCTYPE html>
<html lang="fr">

<head>
	<th:block  th:include="~{fragment/fragment-head :: head}"></th:block>


    <title>Document</title>
</head>
<!-- Navbar -->
<div th:replace="~{fragment/fragment-enteteConnecte :: frag-enteteConnecte}"></div>


<body>
    <h1>Liste des enchères</h1>
    <main>
        <div class="container">
            <form action="#" method="post">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="">Filtres :</label>
                        <input type="search" class="form-control" placeholder="Le nom de l'article contient ..." />

                    </div>
                </div>
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="">Catégorie :</label>
                                 <select name="select" class="form-select" id="select">
							        <option th:each="c : ${categories}" th:value="${c.noCategorie}" th:text="${c.libelle}" ></option>
							    </select>
                            </div>
                        </div>





                        
                        <div class="col-md-6 d-md-flex justify-content-md-right align-items-md-center">
                            <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
                        </div>
                    </div>
                </form>
            
            </form>

        
        
        <!-- encheres dispos-->
        
            <div class="formEnchere">
                <img src="/360_F_59967553_9g2bvhTZf18zCmEVWcKigEoevGzFqXzq.jpeg" alt="">
               
                <div action="" method="post">
                    <h2><a href="#">Titre</a></h2>
                    <div>
                        <label>Prix : </label>
                    </div>
                    <div>
                        <label>Fin de l'enchère : </label>

                    </div>
                    <div>
                        <label>Vendeur : </label>
                    </div>
                </div>

            </div>
            
        </div>


    </main>

</body>

</html>