<!DOCTYPE html>
<html lang="fr">
<head>
    	<th:block  th:include="~{fragment/fragment-head :: head}"></th:block>

    <title>Document</title>
</head>
<!-- Navbar -->
<div th:replace="~{fragment/fragment-enteteConnecte :: frag-enteteConnecte}"></div>

<body>
    <h1>Nouvelle vente</h1>
    <div class="container">
        <img src="#" alt=""> 
        <form action="/newVente" method="post" th:object="${articleVendu}">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div>
                <label for="idArticle">Article :</label>
              <input id="idArticle" type="text" th:field="*{nomArticle}">
           </div>
            <div>
                <label for="idDescription">Description :</label>
              	<textarea name="" id="idDescription" cols="30" rows="4" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="">Catégorie : </label>
                <select name="select" class="form-select" id="select">
					<option th:each="c : ${categories}" th:value="${c.noCategorie}" th:text="${c.libelle}" ></option>
				</select>
            </div>
           <!-- <div>
                <label for="">Photo de l'article : </label>
                <input type="file" name="" id="" accept="image/png, image/jpeg" placeholder="UPLOADER" >
            </div>-->
            <div>
                <label for="miseAPrix">Mise à prix :</label>
                <input type="number" name="nombre" id="miseAPrix" th:field="*{miseAPrix}" value="1" min="1" max="1000" step="1">
            </div>
            <div>
                <label for="dateDebut">Début de l'enchère : </label>
                <input type="date" th:min="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" id="dateDebut" th:field="*{dateDebutEncheres}">
            </div>
            <div>
                <label for="dateFin">Fin de l'enchère : </label>
                <input type="date" id="dateFin" th:min="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" th:field="*{dateFinEncheres}" >
            </div>
            <div></div>
            <fieldset>
                <legend>Retrait</legend>
                <div>
                    <label for="">Rue</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Code postal</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Ville</label>
                    <input type="text">
                </div>
            </fieldset>
            <button type="submit">Enregistrer</a></button>
            <button type="reset">Annuler</a></button>
        </form>

    </div>
</body>
</html>