<!DOCTYPE html>
<html lang="fr">

<head>
   	<th:block  th:include="~{fragment/fragment-head :: head}"></th:block>


    <title>Profil</title> <!-- rajouter nom user -->
</head>
<!-- Navbar -->
<div th:replace="~{fragment/fragment-enteteConnecte :: frag-enteteConnecte}"></div>


<body>
    <div class="container formProfil">
        <form action="" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Pseudo : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Nom : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Prénom : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Email : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Telephone : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Rue : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Code postal : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Ville : </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
           
        </form>

    </div>
</body>

</html>