<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Vente effectuée</title>
</head>
<!-- Navbar -->
<div th:replace="~{fragment/fragment-enteteConnecte :: frag-entete}"></div>

<body>
    <div>
        <!-- nom du  gagnant-->
    <h1>a remporté l'enchère</h1>

    </div>
    <main>
        <div class="container formVentegagnee">
            <img src="/360_F_59967553_9g2bvhTZf18zCmEVWcKigEoevGzFqXzq.jpeg" alt="">

            <div>
                <h2>Titre vente</h2>
                <div>
                    <label for="">Description : </label>
                    <input type="text" name="" id="" readonly>
                </div>

                <div>
                    <label for="">Meilleure offre : </label>
                    <input type="text" name="" id="" readonly>
                </div>
                <div>
                    <label for="">Mise à prix : </label>
                    <input type="text" name="" id="" readonly>
                </div>
                <div>
                    <label for="">Fin de l'enchère </label>
                    <input type="text" name="" id="" readonly>
                </div>
                <div>
                    <label for="">Retrait : </label>
                    <input type="text" name="" id="" readonly>
                </div>
                <div>
                    <label for="">Vendeur : </label>
                    <input type="text" name="" id="" readonly>
                </div>
                
                <button type="submit">Retrait effectué</button> <!-- quel type de bouton??-->
            </div>

        </div>
    </main>
</body>

</html>